{% extends "base.njk" %}

{% from "macro/graph.njk" import link_to_page %}

{% block main %}
  <article>
    {{ content | safe }}

    <ul>
    {% for block in blocks -%}
      <li>{{ link_to_page(block) }}</li>
    {% endfor -%}
    </ul>
  </article>
{% endblock %}
