{% macro render_block(block) %}
  {% if block.content or block.children %}
    <section class="block">
      {% if block.content %}
        {% set content = block.content | logseq_markdown | safe %}

        {% if block.properties.heading %}
          <heading>{{ content }}</heading>
        {% else %}
          {{ content }}
        {% endif %}
      {% endif %}

      {{ render_block_children(block) }}
    </section>
  {% endif %}
{% endmacro %}

{% macro render_block_children(block) %}
  {% for child in block.children %}
    {% if child.id != block.id %}
      {% if child.properties.public != false %}
        {{ render_block(child) }}
      {% endif %}
    {% endif %}
  {%  endfor %}
{% endmacro %}

{% macro render_block_properties(block) %}
  {% set hidden = ["heading", "public"] %}
  {% if block.properties %}
    <table>
      {% for property, value in block.properties %}
        {% if property not in hidden %}
          <tr>
            <th>{{ property }}</th>
            <td>{{ value | logseq_markdown | safe }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}
{% endmacro %}

{% macro render_page_note(page, with_link=false) %}
  <section>
    <header>
      <h2>
      {% if with_link %}
        {{ link_to_page(page) }}
      {% else %}
        {{ page["page-name"] }}
      {% endif %}
      </h2>
      {{ render_block_properties(page) }}
    </header>

    {{ render_block(page) }}
  </section>
{% endmacro %}

{% macro link_to_page(page_block) %}
  <a class="page-link" href="/{{ page_block.permalink }}/">{{ page_block["page-name"] }}</a>
{% endmacro %}
