{% macro block_leaf(block) %}
  {{ render_block_content(block) }}
{% endmacro %}

{% macro block_children(block) %}
  {% for child in block.children %}
    {% if child.id != block.id %}
      {% if child.properties.public != false %}
        {{ block_content(child) }}
      {% endif %}
    {% endif %}
  {%  endfor %}
{% endmacro %}

{%  macro block_content(block) %}
  <section class="block" id="{{ block.id }}">
    {{ block_leaf(block) }}
    {{ block_children(block) }}
  </section>
{% endmacro %}

{% macro block_properties(block) %}
  {% set hidden = ["heading", "public"] %}
  {% if block.properties %}
    <table>
      {% for property, value in block.properties %}
        {% if property not in hidden %}
          <tr>
            <th>{{ property }}</th>
            <td>{{ value }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}
{% endmacro %}

{% macro render_block_content(block) %}
  {% if block.content %}
    {% set content = block.content | logseq_markdown | safe %}

    {% if block.properties.heading %}
      <heading>{{ content }}</heading>
    {% else %}
      {{ content }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro render_page(block) %}
<section>
  <header>
    <h2>{{ block["page-name"] }}</h2>
    {{ block_properties(block) }}
  </header>

  {{ block_content(block) }}
</section>
{% endmacro %}

{% macro render_page_note(page) %}
<section>
  <header>
    {{ link_to_page(page) }}
  </header>

  {{ block_content(page) }}
</section>
{% endmacro %}

{% macro link_to_page(page_block) %}
  <a href="/{{ page_block.id }}/">{{ page_block["page-name"] }}</a>
{% endmacro %}
