{% macro block_leaf(block) %}
  {{ render_block_content(block) }}
  {{ block_properties(block) }}
{% endmacro %}

{% macro block_children(block) %}
  {% for child in block.children %}
    {% if child.id != block.id %}
      {{ block_content(child) }}
    {% endif %}
  {%  endfor %}
{% endmacro %}

{%  macro block_content(block) %}
  {% set child_count = block.children | length %}
  {% if child_count > 0 %}
    <details open>
      <summary>
        {{ block_leaf(block) }}
      </summary>
      {{ block_children(block) }}
    </details>
  {% elif block.content %}
    {{  block_leaf(block) }}
  {% endif %}
{% endmacro %}

{% macro block_properties(block) %}
  {% if block.properties %}
    <table>
      {% for property, value in block.properties %}
        {% if property != "heading" %}
          <tr>
            <th>{{ property }}</th>
            <td>{{ value }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}
{% endmacro %}

{% macro render_block_content(block) %}
  {% if block.content %}
    {% set content = block.content | logseq_markdown | safe %}

    {% if block.properties.heading %}
      <heading>{{ content }}</heading>
    {% else %}
      {{ content }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro render_page(block) %}
<section>
  <header>
    <h2>{{ block["page-name"] }}</h2>
    {{ block_properties(block) }}
  </header>

  {{ block_content(block) }}
</section>
{% endmacro %}

{% macro link_to_page(page_block) %}
  <a href="/page/{{ page_block.id }}/">{{ page_block["page-name"] }}</a>
{% endmacro %}
