{% macro block_leaf(block) %}
  {{ block.content }}
  {{ block_properties(block) }}
{% endmacro %}

{% macro block_children(block) %}
  {% for child in block.children %}
    {% if child.id != block.id %}
      {{ block_content(child) }}
    {% endif %}
  {%  endfor %}
{% endmacro %}

{%  macro block_content(block) %}
  {% set child_count = block.children | length %}
  {% if child_count > 0 %}
    <details open>
      <summary>
        {{ block_leaf(block) }}
      </summary>
      {{ block_children(block) }}
    </details>
  {% elif block.content %}
    {{  block_leaf(block) }}
  {% endif %}
{% endmacro %}

{% macro block_properties(block) %}
  {% if block.properties %}
    <table>
      {% for property, value in block.properties %}
        <tr>
          <th>{{ property}}</th>
          <td>{{  value }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endmacro %}

{% macro render_page(block) %}
<section>
  <header>
    <h2>{{ block["page-name"] }}</h2>
    {{ block_properties(block) }}
  </header>

  {{ block_content(block) }}
</section>
{% endmacro %}

{% macro link_to_page(page_block) %}
  <a href="/page/{{ page_block.id }}/">{{ page_block["page-name"] }}</a>
{% endmacro %}
