{% extends "layouts/base.njk" %}

{% from "macros/graph.njk" import render_page_note %}

{% block main %}
  <article class="page">
    {{ content | safe }}

    {{ render_page_note(page) }}
  </article>
{% endblock %}
